body {
    font-family: Arial, sans-serif;
    min-width: 1260px;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.mimamo {
    background-color: #9f9f9f;
    color: #383838;
    text-align: center;
    padding: 10px;
    font-family: "Rubik Bubbles";
    height: 30px;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0;
    margin: 0;
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.leftmenu {
    float: left;
    font-size: 13px;
}

.rightmenu {
    float: right;
    font-size: 13px;
}

ul {
    list-style-type: none;
    text-align: center;
}

.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    margin: 0 auto;
}

.leftmenu .navi li ul {
    display: none;
    position: absolute;
    border-top: 1px solid #afafaf;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 20px;
}

.rightmenu .navi li ul {
    display: none;
    position: absolute;
    border-top: 1px solid #afafaf;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 40px;
}

.navi li:hover ul {
    display: block;
}

.navi > li {
    float: left;
}

.navi > li > a {
    padding: 10px 50px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s ease;
}

.navi > li:hover > a {
    color: #afafaf;
}

li a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
}

li a:hover {
    color: #afafaf;
    transition: 0.4s;
}

.btn_search {
    position: relative;
    font-family: "Manrope";
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.text_search {
    border: none;
}

.detail {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.thumbnail {
    flex: 1;
    text-align: center;
}

.detailTable {
    flex: 1;
}

.itemTable,
.optionTable {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
}

.optionTable {
    padding: 10px;
}

#wide_contents #wide_Inner {
    margin: 0 100px;
}

.headCategory {
    font-family: "Manrope";
    padding: 0%;
}

.itemSort {
    list-style-type: none;
    float: right;
}

.itemSorted {
    float: left;
    font-size: 11px;
}

.login_wrapper {
    font-family: "Manrope";
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}

.login-wrapper > h2{
    font-family: "Manrope";
    font-size: 24px;
    margin-bottom: 20px;
}

#login-form {
    font-size: 11px;
}

#login-form > input {
    font-family: "Manrope";
    border: none;
    width: 20%;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
}

#login-form > input[type="submit"] {
    background-color: #FFFFFF;
    width: 5%;
    color: #000000;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#login-form > input[type="submit"]:hover {
    color: #afafaf;
    transition: 0.4s;
}

.exceptionItem > a {
    color: #000000;
}

.exceptionItem > a:hover {
    color: #afafaf;
    transition: 0.4s;
}

section {
    padding: 2em;
}

footer {
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
}